@model IntraNet.Mod.RDV.Models.ViewModel.PesquisaRelatViewModel
@{ 
    Layout = null;
}
    <div class="container">
        @Html.AntiForgeryToken()
        <h5>*Pesquisa Avançada</h5>
        <hr />
        <div id="Result"></div>
        <div class="row col-lg-12">
            <div class="col-lg-8">
                @Html.Label("Palavra chave")
                @Html.EditorFor(model => model.PalavraPasse, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pesquise por motivo" } })
            </div>
            <div class="col-lg-4">
                @Html.Label("Situação:")
                @Html.DropDownListFor(model => model.Situacao, null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row col-lg-12">
            <div class="col-lg-4">
                @Html.Label("Inicial:")
                @Html.EditorFor(model => model.Inicial, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-lg-1" style="padding-top: 5%">
                @Html.Label("Até")
            </div>
            <div class="col-lg-4">
                @Html.Label("Final:")
                @Html.EditorFor(model => model.Final, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-lg-3" align="right">
                <br />
                <button class="btn btn-default" onclick="RetornoPesquisa()">
                    Pesquisar&nbsp;<i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>


