@model IEnumerable<IntraNet.Security.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AdmMenuPartialView")
<div class="container body-content" style="padding-left: 15%">
<h2><i class="glyphicon glyphicon-wrench">&nbsp;</i>Controle - Usuários</h2>
    <hr />
    <h2>Listagem de usuários cadastrados</h2>
    <p>
        @Html.ActionLink("Criar Novo", "Create")
    </p>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayName("Nome:")
            </th>

            <th>
                @Html.DisplayName("Empresa:")
            </th>

            <th>
                @Html.DisplayName("Setor:")
            </th>

            <th>
                @Html.DisplayName("Empresa:")
            </th>

            <th>
                @Html.DisplayName("E-mail:")
            </th>

            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                
                @*<td>
                    @Html.DisplayFor(modelItem => item.LocalEmpresa)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.SetorNome)
                </td>*@
                
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    <i></i>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    
                </td>
            </tr>
        }

    </table>
</div>