@model IntraNet.Mod.RDV.Models.Identity.RegisterViewModel
@{
    ViewBag.Title = "Criar";
    Layout = null;
}
<div class="container body-content" style="padding-left: 15%">
    <h2><i class="glyphicon glyphicon-wrench">&nbsp;</i>Controle - Usuários</h2>
    <hr/>
    @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Criar nova conta</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-error" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Local, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Local, (IEnumerable<SelectListItem>)ViewBag.Local, "Selecione a empresa", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Setor, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Setor, null, "Selecione o setor", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Selecione as Roles para este usuário
            </label>
            <div class="col-md-10">
                @foreach (var item in (SelectList)ViewBag.RoleId)
                {
                    <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label" })
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Criar" />
            </div>
        </div>
    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {


            })
            function AddItem() {
                $("#Empresas option:selected").appendTo("#ListaEmpresas");
                $("#ListaEmpresas option").attr("selected", false);
            }
            function RemoveItem() {
                $("#ListaEmpresas option:selected").appendTo("#Empresas");
                $("#Empresas option").attr("selected", false);
            }
            function AddAll() {
                $("#ListaEmpresas option").appendTo("#Empresas");
                $("#Empresas option").attr("selected", false);
            }
            function RemoveAll() {
                $("#Empresas option").appendTo("#ListaEmpresas");
                $("#ListaEmpresas option").attr("selected", false);
            }
        </script>
    }
