@model IntraNet.Mod.RDV.Models.ViewModel.DespesasViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<h2>Details</h2>

<div>
    <h4>Despesas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDespesaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipodespesa.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
